.titulo {
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 61);
    color: white;
    padding: 1em;
    margin: 0em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-image: url('imagenes/fondoproductos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#products {
    background-color: rgba(255, 255, 255, 0.806);
    padding: 1em;
}

section {
    width: 45%;
}

.product {
    width: 130px;
    height: 248.750px;
    border: 1px solid #ccc;
    border-radius: 3%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.906);
    display: inline-block;
    text-align: center;
}

.product:hover {
    background-color: #efececd2;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-imageBebida {
    width: auto;
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.646);
    position: relative;
    top: -0.5em;
}

.cart-button {
    background-color: #4c95af;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.646);
}

button:hover {
    background-color: #45a049;
}

#cart {
    border: 1px solid #ccc;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.906);
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

.modal-button {
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.646);
    bottom: 1em;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.modal-button:hover {
    background-color: #ff4500;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.modal-button:active {
    background-color: #ff6347;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    height: 1em;
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 61);
}

#discount-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

#mensajeImpuesto {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

#mensajeEnvio {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

#mensajeCodigo {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

#finalTotal {
    font-weight: bold;
    margin-top: 10px;
}

.product-imageCart {
    height: 30px;
    width: 30px;
}   

#aplicar {
    position: inherit;
    margin-top: 20px;
}

.btnProducto:disabled {
    background-color: #dddddd;
    color: #aaaaaa;
    cursor: not-allowed;
}

#btnAplicar:disabled {
    background-color: #dddddd;
    color: #aaaaaa;
    cursor: not-allowed;
}

#btnPagar:disabled {
    background-color: #dddddd;
    color: #aaaaaa;
    cursor: not-allowed;
}